---
import { Image } from "astro:assets";
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const posts = await getCollection("blog");
---

<div class="not-content">
  <div class="grid grid-cols-3 gap-6">
    {
      posts.map((post) => (
        <BlogCard
          cover={post.data.cover}
          title={post.data.title}
          date={post.data.date}
          excerpt={post.data.excerpt}
          tags={post.data.tags}
          url={"/blog/" + post.slug}
        />
      ))
    }
  </div>
</div>
